.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/

.ipynb_checkpoints/

notMNIST*
mnist*
*cifar-10*
*.data*
.vscode/tags

*.index
*.meta
checkpoint
*.pyc
*.p
*.pkl 

*/.floyd*

